@import './../../themes/constants.styl'
@import './../../themes/animations.styl'

nodeColor = rgb(130, 190, 70)

.details
	position relative
	text-align center
	background transparent
	padding (padding*5) (padding*10) 0
	height auto
	width 100%
	z-index 1
	&:before
		content ''
		position absolute
		top 0
		bottom -25%
		left -25%
		right -25%
		background white
		transform rotate(-3deg)
		border-top 10px solid darken(skyBlue, 7.5)
	@media only screen and (max-width: 600px)
		padding (padding*5) (padding*2) (padding*9)
	.expert
		position relative
		padding padding 0
		.title
			padding padding (padding*2)
			margin 0 0 50px
			h1
				color #555
		.skills
			text-align center
			div
				@media only screen and (max-width: 600px)
					width calc(100%/3)    
					padding 0 0 (padding*2) 
			h2
				font-size 20px
				color lighten(htmlColor, 15)
				padding 0 0 (padding) 0
				@media only screen and (max-width: 600px)
					font-size 16px
				span
					color darken(skyBlue, 7.5)
			svg
				width 100%
				height 125px
				margin 0 0 padding
				padding (padding) 0
				fill darken(skyBlue, 7.5)
				stroke white
				stroke-width 0.4
				@media only screen and (max-width: 600px)
					height 100px
			p
				font-size 14px
				color #555
				@media only screen and (max-width: 600px)
					font-size 12px
			.fat
				svg
					width 100%
					height 100%
					display inline-block
					stroke rgba(255,255,255,1)
					fill darken(fgColor, 15)
					transition()
					animation(move cubic-bezier(0.4, 0, 0.2, 1) 5s infinite)
