@import './../../themes/constants.styl'
@import './../../themes/animations.styl'

nodeColor = rgb(130, 190, 70)

.footer
	position relative
	background lighten(bgColor, 2)
	padding (padding*3) 0 (padding*5)
	text-align center
	.logo
		height 100px
		svg
			stroke transparent
			fill rgba(255,255,255,0.7)
	p
		color rgba(255,255,255,0.7)