@import './../../themes/constants.styl'
@import './../../themes/animations.styl'

nodeColor = rgb(130, 190, 70)

.footer
	position relative
	background lighten(bgColor, 2)
	padding (padding*3) 0 (padding*5)
	text-align center
	.logo
		position relative
		height 100px
		width 100px
		margin 0 auto
		svg
			fill rgba(255,255,255,0.7)
			height 100%
			width 100%	 
	p
		color rgba(255,255,255,0.7)