@import './../../themes/constants.styl'

.landing
	position absolute
	overflow auto
	// background #f6f9fc
	background skyBlue 
	overflow-x hidden
	top 0
	bottom 0
	left 0
	right 0
	height 100%
	width 100%