@import './../../themes/constants.styl'

listHeight = (ribbonHeight*1.1)

.sidenav
	height 100%
	width sidenavWidth
	border-right 1px solid borderColor
	li
		height listHeight
		border-bottom 1px solid borderColor
		*
			display inline-block
			height listHeight
			line-height listHeight
		.icon
			width listHeight
			border-right 1px solid borderColor
		p
			width "calc(100% - %s)" % listHeight
			padding 0 (padding*2)
	