bgColor = rgb(37,37,37)
secondBgColor = rgb(37,37,37)
fgColor = rgb(255,255,255)

heroFontColor = rgb(26, 26, 26)
fontColor = rgb(134,133,133)
borderColor = rgb(222, 222, 222)

htmlColor = rgb(249, 38, 111)

firstColor = rgb(250, 249, 112)
secondColor = rgb(144, 32, 109)
thirdColor = rgb(51, 163, 194)
fourthColor = rgb(195, 42, 45)
fifthColor = rgb(219, 149, 74)
sixthColor = rgb(93, 182, 79)

fontFamily = 'Montserrat', sans-serif
secondaryFontFamily = 'Montserrat', sans-serif

ribbonHeight = 50px
sidenavWidth = 200px
viewHeight = "calc(100% - %s)" % ribbonHeight

padding = 10px
