bgColor = rgb(247,247,247)
fgColor = rgb(255,255,255)

fontColor = rgb(134,133,133)
borderColor = rgb(222, 222, 222)

primaryBrandColor = rgb(0, 120, 196)
secondaryBrandColor = rgb(10, 187, 169)

fontFamily = "Merriweather Sans", sans-serif
secondaryFontFamily = "Poppins", sans-serif

ribbonHeight = 50px
sidenavWidth = 200px
viewHeight = "calc(100% - %s)" % ribbonHeight

padding = 10px
